[net]
# Testing
#batch=64
#subdivisions=16
# Training
# Kaggle mods below
batch=64
subdivisions=16
width=800
height=800
# end Kaggle mods
channels=3
momentum=0.9
#decay=0.000000727
decay=0.0005
angle=180
saturation = 1.5
exposure = 1.5
hue=0.1
adam=1
learning_rate=0.001
burn_in=1000
# Kaggle Mods
max_batches = 44000
steps=35200,39600
# end Kaggle mods
policy=steps
scales=0.1,0.1
#aspect=0.75
#mosaic=1
#mosaic_bound=1

[convolutional]
batch_normalize=1
filters=32
size=3
stride=2
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=64
size=3
stride=2
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-1
groups=2
group_id=1

[convolutional]
batch_normalize=1
filters=32
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=32
size=3
stride=1
pad=1
activation=leaky

[route]
layers = -1,-2

[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky

[route]
layers = -6,-1

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-1
groups=2
group_id=1

[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

[route]
layers = -1,-2

[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

[route]
layers = -6,-1

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

[route]
layers=-1
groups=2
group_id=1

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

[route]
layers = -1,-2

[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

[route]
layers = -6,-1

[maxpool]
size=2
stride=2

[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

##################################

[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=leaky

[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

[convolutional]
size=1
stride=1
pad=1
# Kaggle mods
filters=81
# end Kaggle mods
activation=linear



[yolo]
mask = 3,4,5
counters_per_class = 904, 7734, 1820, 352, 19706, 581, 45, 48, 48, 1457, 4, 912, 854, 177, 195, 0, 408, 0, 171, 540, 2823, 5270
anchors =  30, 35,  39, 85,  64, 55,  49,141, 118, 63,  78,100, 138,181, 256,351, 518,574
# Kaggle mods
classes=22
# end Kaggle mods
num=6
jitter=0.3
scale_x_y = 1.05
cls_normalizer=1.0
iou_normalizer=0.07
iou_loss=ciou
ignore_thresh = 0.7
truth_thresh = 1
random=0
resize=1.5
nms_kind=greedynms
beta_nms=0.6

[route]
layers = -4

[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=leaky

[upsample]
stride=2

[route]
layers = -1, 23

[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

[convolutional]
size=1
stride=1
pad=1
filters=81
activation=linear

[yolo]
mask = 0,1,2
counters_per_class = 904, 7734, 1820, 352, 19706, 581, 45, 48, 48, 1457, 4, 912, 854, 177, 195, 0, 408, 0, 171, 540, 2823, 5270
anchors =  30, 35,  39, 85,  64, 55,  49,141, 118, 63,  78,100, 138,181, 256,351, 518,574
classes=22
num=6
jitter=0.3
gaussian_noise=1
scale_x_y = 1.05
cls_normalizer=1.0
iou_normalizer=0.07
iou_loss=ciou
ignore_thresh = 0.7
truth_thresh = 1
random=0
resize=1.5
nms_kind=greedynms
beta_nms=0.6
